# These owners are the maintainers and approvers of this repo
*       @dapr/maintainers-go-sdk @dapr/approvers-go-sdk
/daprdocs/  @dapr/maintainers-go-sdk @dapr/approvers-go-sdk @dapr/maintainers-docs @dapr/approvers-docs
