name: Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test on ${{ matrix.gover }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        gover:
          - "1.19"
          - "1.20"
          - "1.21"
    env:
      GOVER: ${{ matrix.gover }}
      GOLANGCILINT_VER: v1.54.2

    steps:
      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOVER }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Tidy
        run: make tidy

      - name: Test
        run: make test

      - name: Cover
        uses: codecov/codecov-action@v3

      - name: Lint
        uses: golangci/golangci-lint-action@v3.3.1
        with:
          version: ${{ env.GOLANGCILINT_VER }}
          skip-cache: true
          args: --timeout=10m0s

      - name: Run go mod tidy check diff
        run: make modtidy check-diff
