name: Test

on:
  push:
  pull_request:
    branches:
      - main

jobs:

  build:
    name: Test and Lint on Push
    runs-on: ubuntu-latest
    env:
      GOVER: 1.17
      GOLANGCILINT_VER: v1.48.0

    steps:

    - name: Setup
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GOVER }}

    - name: Checkout
      uses: actions/checkout@v2

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Tidy
      run: |
        go mod tidy -compat=1.17
        go mod vendor

    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      
    - name: Cover
      uses: codecov/codecov-action@v1
      
    - name: Lint
      uses: golangci/golangci-lint-action@v3.1.0
      with:
        version: ${{ env.GOLANGCILINT_VER }}
